<div hljs language="python">
import scoggle

# Configure Scoggle with your API key
scoggle.key('{% if token %}{{ token.key }}{% else %}insert_api_key_here{% endif %}')
# and the url of your scoggle installation
scoggle.url('{% if host %}{{ host }}{% else %}insert_scoggle_url_here{% endif %}')

# Get or create a project
scoggle.project('{% if project %}{{ project.slug }}{% else %}my-project{% endif %}')
{% if project %}
# Get or create a run
scoggle.run('neural-net')
{% endif %}
# Run some algorithm and retrieve a score
# ...
score = 0.95
prams = {n_steps: 200, p: 0.1}

# Submit your score
scoggle.score(score, params=params)
</div>