<form>
                
    {% csrf_token %}

    <div class="form-group">
        <label for="nameProjectInput">Name*</label>
        <input class="form-control" type="text" id="nameProjectInput" ng-model="model.name" placeholder="Enter a name for your project">
    </div>

    <div class="form-group">
        <label for="slugProjectInput">Slug*</label>
        <input class="form-control" type="text" id="slugProjectInput" ng-model="model.slug" placeholder="Enter a slug">
    </div>

    <div class="form-group">
        <label for="urlProjectInput">Link</label>
        <input class="form-control" type="text" id="urlProjectInput" ng-model="model.url" placeholder="Enter a url">
    </div>

    <div class="form-group">
        <label for="descProjectInput">Description</label>
        <textarea class="form-control" id="descProjectInput" ng-model="model.description" placeholder="Enter a description"></textarea>
    </div>

    {% if show_submit %}
    <button type="submit" class="btn btn-default pull-right" ng-click="createProject(model)">Create this project</button>
    {% endif %}

</form>