{% extends "index.html" %}

{% block content %}

<script>
    angular.module('scoggle')

    .controller('ProjectCtrl', ['$scope', 'ApiService', function($scope, API){

    	$scope.data = [];
    	$scope.predicate = '-created_at';

    	$scope.options = {
			axes: {
			  x: {key: 'x', type: 'date', ticksFormat: '%H:%M', tooltipFormat: '%d.%m.%Y %H:%M:%S'},
			  y: {type: 'linear', min: 0.0, max: 1.0, ticks: 10, ticksFormat: '.2f', tooltipFormat: '.4f'},
			},
			tooltip: {mode: 'axes'},
			series: [],
			lineMode: 'linear',
			tension: 0.7,
			drawLegend: true,
			drawDots: true,
			columnsHGap: 5
		};

		$scope.resetChart = function(){

			$scope.data = [];
    		$scope.options.series = [];
		}

		$scope.initChart = function(){
			$scope.resetChart();
			$scope.updateSeries();
			
			angular.forEach($scope.runs, function(run, idx_run){
        		angular.forEach(run.scores, function(score){
	        		
	        		var point = {};
	        		
	        		point['x'] = new Date(score.created_at);
	        		point['score_' + idx_run] = parseFloat(score.score);
	        		
	        		$scope.data.push(point);			
        		});
        	});
		}

		$scope.updateSeries = function(){
			$scope.options.series = $scope.runs.map(function(run, idx_run){
				return {
        			thickness: '2px',
        			type: run.type || 'area',
        			striped: true,
        			y: 'score_' + idx_run,
        			color: run.color || 'steelblue',
        			label: run.name || run.slug
        		};
			});
		};

		$scope.initModel = function(){

			$scope.model = $.extend({}, $scope.project);
		}

    	$scope.init = function(){

    		$scope.project = API.project.get({project_id: $scope.project_id}, $scope.initModel);
	        $scope.runs = API.run.query({ project_id: $scope.project_id }, $scope.initChart);
    	};

    	$scope.saveProject = function(project){

            API.project.edit(
                {project_id: project.project_id},
                project,
                function(){
                    $('#editProject').modal('hide');
                    $scope.init();
                },
                function(res){
                    console.error(res);
                }
            );
        };

        $scope.saveRun = function(run){

        	API.run.edit(
                {run_id: run.run_id},
                run,
                function(){
                    $('#editRun'+run.run_id).modal('hide');
                    $scope.init();
                },
                function(res){
                    console.error(res);
                }
            );
        };

        $scope.$watch('[runs]', function(){

        	$scope.updateSeries();
        }, true);
    }]);
</script>

<div ng-controller="ProjectCtrl" ng-init="project_id='{{ project.project_id }}'; init();">
            
	<div class="row">
		
		<div class="col-lg-9">

			<a href="#" class="btn btn-primary pull-right edit-button" data-toggle="modal" data-target="#editProject">
                <span class="glyphicon glyphicon-edit small"></span>
                Edit this project
            </a>

			<h2>{$ project.name $}</h2>

			<div class="modal fade" id="editProject" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Edit project</h4>
			      </div>
			      <div class="modal-body">
			        {% include 'partial/project-edit-form.html' %}
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" ng-click="saveProject(model)">Save changes</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
	
			<p class="small">
				Last updated on {$ project.edited_at | date:'d.M.yyyy H:m' $}
			</p>

			<div btf-markdown="project.description"></div>

			<div ng-hide="runs.length">
				
				<p>You haven't submitted any scores yet. Please use the Python Integration or other available APIs to submit your scores!</p>
				
				<h3>Python Integration</h3>
				<p>
					<a href="{% url 'settings-keys' %}">Manager your API keys</a>
		      	</p>
				{% include 'partial/code-submit.html' %}
			</div>

			<div ng-show="runs.length">

				<linechart data="data" options="options" mode="" height="300"></linechart>

				<p class="pull-right">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#chartConfig">
						<span class="glyphicon glyphicon-cog"></span>
					  	Configure the chart
					</button>
				</p>

				<div class="modal fade" id="chartConfig" tabindex="-1" role="dialog">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Chart Settings</h4>
				      </div>
				      <div class="modal-body">
				        <form>
							<div class="row">
								<div class="col-lg-12">
									<h3>x-axis</h3>
								</div>
								<!-- TODO: We need to find a good way to display datetimes 
								<div class="col-lg-6">
									<div class="form-group">
			    						<label for="inputAxesXMin">min value</label>
										<input class="form-control" id="inputAxesXMin" type="text" ng-model="options.axes.x.min">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
			    						<label for="inputAxesXMax">max value</label>
										<input class="form-control" id="inputAxesXMax" type="text" ng-model="options.axes.x.max">
									</div>
								</div> -->
								<div class="col-lg-6">
									<div class="form-group">
			    						<label for="inputXTicksFormat">ticks format</label>
										<input class="form-control" id="inputXTicksFormat" type="text" ng-model="options.axes.x.ticksFormat">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
			    						<label for="inputXTooltipFormat">tooltip format</label>
										<input class="form-control" id="inputXTooltipFormat" type="text" ng-model="options.axes.x.tooltipFormat">
									</div>
								</div>
								<div class="col-lg-12">
									<h3>y-axis</h3>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
			    						<label for="inputYTicksFormat">ticks format</label>
										<input class="form-control" id="inputYTicksFormat" type="text" ng-model="options.axes.y.ticksFormat">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
			    						<label for="inputYTooltipFormat">tooltip format</label>
										<input class="form-control" id="inputYTooltipFormat" type="text" ng-model="options.axes.y.tooltipFormat">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
			    						<label for="inputAxesYMin">min</label>
										<input class="form-control" id="inputAxesYMin" type="number" step="any" ng-model="options.axes.y.min">
									</div>
								</div>
								<div class="col-lg-6" ng-show="options.axes.y.type == 'linear'">
									<div class="form-group">
			    						<label for="inputAxesYMax">max</label>
										<input class="form-control" id="inputAxesYMax" type="number" step="any" ng-model="options.axes.y.max">
									</div>
								</div>
							</div>
						</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<h3>All Scores</h3>

				<div ng-repeat="run in runs" style="border-left: 2px solid {$ run.color $}; padding-left: 20px;">
				    
					<h4>{$ run.name || run.slug $} <small><a href="#" data-toggle="modal" data-target="#editRun{$ run.run_id $}"><span class="glyphicon glyphicon-edit"></span></a></small></h4>
				    
					<div class="modal fade" id="editRun{$ run.run_id $}" tabindex="-1" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title">Edit run</h4>
					      </div>
					      <div class="modal-body">
					        {% include 'partial/run-edit-form.html' %}
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary" ng-click="saveRun(run)">Save changes</button>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

				    <table class="table table-striped">
				    <thead>
				    	<tr>
				    		<th><a ng-click="predicate = 'created_at'; reverse=!reverse">Time</a></th>
				    		<th><a ng-click="predicate = 'score'; reverse=!reverse">Score</a></th>
				    		<th>Params</th>
				    		<th><a ng-click="predicate = 'duration'; reverse=!reverse">Duration</a></th>
				    		<th></th>
				    	</tr>
				    </thead>
				    <tbody>
			    		<tr ng-repeat="score in run.scores | orderBy:predicate:reverse">
			    			<td ng-bind="score.created_at | date:'dd.MM.yyyy hh:mm:ss'"></td>
			    			<td ng-bind="score.score"></td>
			    			<td hljs source="score.params | json"></td>
			    			<td ng-bind="score.duration"></td>
			    			<td><small><span class="glyphicon glyphicon-trash"></span></small></td>
			    		</tr>
				    </tbody>
				    </table>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{% block sidebar-title %}{{ project.slug }}{% endblock %}</h3>
				</div>
				<div class="panel-body">
				{% block sidebar %}
					<ul role="menu" class="sidebar-menu">
						<!-- <li role="presentation"><a role="menuitem" href="#">Settings</a></li> -->
						<li role="presentation" ng-show="project.url"><a role="menuitem" href="{$ project.url $}" target="_new">Open project link <span class="
glyphicon glyphicon-new-window small"></span></a></li>
					</ul>
				{% endblock %}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Integrations</h3>
				</div>
				<div class="panel-body">
					<ul role="menu" class="sidebar-menu">
						<li role="presentation"><a role="menuitem" href="#" data-toggle="modal" data-target="#apiPython">Python API</a></li>
					</ul>
				</div>
			</div>

			<div class="modal fade" id="apiPython" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Python Integration</h4>
			      </div>
			      <div class="modal-body">
			      	<p>
						<a href="{% url 'settings-keys' %}">Manager your API keys</a>
			      	</p>
			        {% include 'partial/code-submit.html' %}
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>

{% endblock %}